

.home {
    text-align: center;
    padding-top: 50px;
}

.footer {
    margin: 0 0 20% 0;
}


a {
    color: darkblue;
    text-decoration: none;
    font-size: 20PX;
    display: inline-block;
    margin: 10px 0;
    width: 50%;
}

/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}

/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}

/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
}

/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
    text-decoration: none;
}

/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
    text-decoration: none;
}

.title {
    margin-top: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff2c1d;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}